<h1>Editing Set #<%= @set.id %></h1>

<%= form_tag(set_url(@set), method: 'patch') do %>
  <div>
    <%= label_tag :abbreviation %><br />
    <%= text_field_tag :abbreviation, @set.abbreviation %>
  </div>

  <div>
    <%= label_tag :name %><br />
    <%= text_field_tag :name, @set.name %>
  </div>

  <div>
    <%= submit_tag "Update Set" %>
  </div>
<% end %>
