<h1>New Cardset</h1>

<%= form_tag(cardsets_url, method: 'post') do %>
  <div>
    <%= label_tag :abbreviation %><br />
    <%= text_field_tag :abbreviation %>
  </div>

  <div>
    <%= label_tag :name %><br />
    <%= text_field_tag :name %>
  </div>

  <div>
    <%= submit_tag "Create Cardset" %>
  </div>
<% end %>
