<h1>Card Search</h1>

<tbody>
  <% @mtgcards.each do |mtgcard| %>
  <tr>
    <%= link_to :controller => "cards", :action => "add", :card_id => mtgcard.multiverse_id do %>
    <%= image_tag(mtgcard.image_url) %>
    <% end %>
  </tr>
  <% end %>
</tbody>

<!--<%= form_tag(cards_url, method: 'post') do %>-->
<form action="/cards/search" method="get">
  <input type="text" name="q">
  <input type="submit" value="Search">

  <!--
  <div>
  <%= label_tag :name %><br />
  <%= text_field_tag :name %>
</div>

<div>
<%= submit_tag "Search" %>
</div> -->
<% end %>
