<h1>Card #<%= @card.id %></h1>

<dl>
  <dt>Image url</dt>
  <dd><%= @card.image_url %></dd>

  <dt>Multiverse</dt>
  <dd><%= @card.multiverse_id %></dd>

  <dt>Is planeswalker</dt>
  <dd><%= @card.is_planeswalker? %></dd>

  <dt>Is land</dt>
  <dd><%= @card.is_land? %></dd>

  <dt>Is enchantment</dt>
  <dd><%= @card.is_enchantment? %></dd>

  <dt>Is artifact</dt>
  <dd><%= @card.is_artifact? %></dd>

  <dt>Is sorcery</dt>
  <dd><%= @card.is_sorcery? %></dd>

  <dt>Is instant</dt>
  <dd><%= @card.is_instant? %></dd>

  <dt>Is creature</dt>
  <dd><%= @card.is_creature? %></dd>

  <dt>Is colorless</dt>
  <dd><%= @card.is_colorless? %></dd>

  <dt>Is blue</dt>
  <dd><%= @card.is_blue? %></dd>

  <dt>Is white</dt>
  <dd><%= @card.is_white? %></dd>

  <dt>Is red</dt>
  <dd><%= @card.is_red? %></dd>

  <dt>Is black</dt>
  <dd><%= @card.is_black? %></dd>

  <dt>Is green</dt>
  <dd><%= @card.is_green? %></dd>

  <dt>Cmc</dt>
  <dd><%= @card.cmc %></dd>

  <dt>Name</dt>
  <dd><%= @card.name %></dd>

</dl>
