<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <!-- Add a new draft -->
        <%= form_tag(drafts_url, method: 'post') do %>
        <h1>Select sets to draft from</h1>
        <p>
          <select name="set1">
            <% @sets.each do |set| %>
            <option value="<%= set.abbreviation %>"><%= set.name %> (<%= set.abbreviation.upcase %>)</option>
            <% end %>
          </select>
        </p>
        <p>
          <select name="set2">
            <% @sets.each do |set| %>
            <option value="<%= set.abbreviation %>"><%= set.name %> (<%= set.abbreviation.upcase %>)</option>
            <% end %>
          </select>
        </p>
        <p>
          <select name="set3">
            <% @sets.each do |set| %>
            <option value="<%= set.abbreviation %>"><%= set.name %> (<%= set.abbreviation.upcase %>)</option>
            <% end %>
          </select>
        </p>

        <div>
          <%= submit_tag "Start Draft" %>
        </div>
        <% end %>
      </div>    </div>
      <div class="row">
        <!--Log of previous drafts -->
        <h1>Draft History</h1>
        <table>
          <% @drafts.each do |draft| %>
          <tr>
            <td>
              <% if draft.color1.present? %>
              <% if draft.color1 == "black" %>
              <img src="/assets/colors/black.png" height="30px"/>
              <% end %>
              <% if draft.color1 == "blue" %>
              <img src="/assets/colors/blue.png" height="30px"/>
              <% end %>
              <% if draft.color1 == "green" %>
              <img src="/assets/colors/green.png" height="30px"/>
              <% end %>
              <% if draft.color1 == "red" %>
              <img src="/assets/colors/red.png" height="30px"/>
              <% end %>
              <% if draft.color1 == "white" %>
              <img src="/assets/colors/white.png" height="30px"/>
              <% end %>
              <% end %>
              <% if draft.color2.present? %>
              <% if draft.color2 == "black" %>
              <img src="/assets/colors/black.png" height="30px"/>
              <% end %>
              <% if draft.color2 == "blue" %>
              <img src="/assets/colors/blue.png" height="30px"/>
              <% end %>
              <% if draft.color2 == "green" %>
              <img src="/assets/colors/green.png" height="30px"/>
              <% end %>
              <% if draft.color2 == "red" %>
              <img src="/assets/colors/red.png" height="30px"/>
              <% end %>
              <% if draft.color2 == "white" %>
              <img src="/assets/colors/white.png" height="30px"/>
              <% end %>
              <% end %>
              <% if draft.color3.present? %>
              <% if draft.color3 == "black" %>
              <img src="/assets/colors/black.png" height="30px"/>
              <% end %>
              <% if draft.color3 == "blue" %>
              <img src="/assets/colors/blue.png" height="30px"/>
              <% end %>
              <% if draft.color3 == "green" %>
              <img src="/assets/colors/green.png" height="30px"/>
              <% end %>
              <% if draft.color3 == "red" %>
              <img src="/assets/colors/red.png" height="30px"/>
              <% end %>
              <% if draft.color3 == "white" %>
              <img src="/assets/colors/white.png" height="30px"/>
              <% end %>
              <% end %>
            </td>
            <td><%= draft.user_id %></td>
            <td><%= draft.set1 %></td>
            <td><%= draft.set2 %></td>
            <td><%= draft.set3 %></td>
            <td><%= link_to 'Open', draft_url(draft) %></td>
            <td><%= link_to 'Delete', draft_url(draft), method: 'delete', data: { confirm: "Do you really want to delete this draft?" } %></td>

          </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="col-md-4">

    </div>
  </div>
