<h1><%= @draft.set1.upcase %> / <%= @draft.set2.upcase %> / <%= @draft.set3.upcase %> Draft</h1>

<tbody>
  <% @fullcardlist.each do |card| %>
  <tr>
    <%= link_to :controller => "cards", :action => "sideboard", :selection_id => card["selection_id"] do %>
    <%= image_tag(card["image"]) %>
    <!--<div class="inner"><img src="/assets/close.png" /></div>-->
    <% end %>
  </tr>
  <% end %>
</tbody>

<%= column_chart [{name: "CMC", data: [["0",0],["1",1],["2",3],["3",5],["4",4],["5",5],["6",2],["7+",1]]}] %>
<%= pie_chart [["Blue",1],["Black",3],["Red",5],["Green",2],["White",3],["Colorless",3],["Multi",0]], colors: @chart_color_colors %>
<%= pie_chart @chart_color_data, colors: @chart_color_colors %>
