<div class="centertitle">
  <h1><%= @draft.set1.upcase %> / <%= @draft.set2.upcase %> / <%= @draft.set3.upcase %> Draft
    <% if @draft.color1.present? %>
    <% if @draft.color1 == "black" %>
    <%= image_tag "/assets/colors/black.png", size: "30" %>
    <% end %>
    <% if @draft.color1 == "blue" %>
    <%= image_tag "/assets/colors/blue.png", size: "30" %>
    <% end %>
    <% if @draft.color1 == "green" %>
    <%= image_tag "/assets/colors/green.png", size: "30" %>
    <% end %>
    <% if @draft.color1 == "red" %>
    <%= image_tag "/assets/colors/red.png", size: "30" %>
    <% end %>
    <% if @draft.color1 == "white" %>
    <%= image_tag "/assets/colors/white.png", size: "30" %>
    <% end %>
    <% end %>
    <% if @draft.color2.present? %>
    <% if @draft.color2 == "black" %>
    <%= image_tag "/assets/colors/black.png", size: "30" %>
    <% end %>
    <% if @draft.color2 == "blue" %>
    <%= image_tag "/assets/colors/blue.png", size: "30" %>
    <% end %>
    <% if @draft.color2 == "green" %>
    <%= image_tag "/assets/colors/green.png", size: "30" %>
    <% end %>
    <% if @draft.color2 == "red" %>
    <%= image_tag "/assets/colors/red.png", size: "30" %>
    <% end %>
    <% if @draft.color2 == "white" %>
    <%= image_tag "/assets/colors/white.png", size: "30" %>
    <% end %>
    <% end %>
    <% if @draft.color3.present? %>
    <% if @draft.color3 == "black" %>
    <%= image_tag "/assets/colors/black.png", size: "30" %>
    <% end %>
    <% if @draft.color3 == "blue" %>
    <%= image_tag "/assets/colors/blue.png", size: "30" %>
    <% end %>
    <% if @draft.color3 == "green" %>
    <%= image_tag "/assets/colors/green.png", size: "30" %>
    <% end %>
    <% if @draft.color3 == "red" %>
    <%= image_tag "/assets/colors/red.png", size: "30" %>
    <% end %>
    <% if @draft.color3 == "white" %>
    <%= image_tag "/assets/colors/white.png", size: "30" %>
    <% end %>
    <% end %>
  </h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <!-- Card Search -->
        <tbody>
          <% if @hasResults  %>
          <% @mtgcards.each do |mtgcard| %>
          <tr>
            <%= link_to :controller => "cards", :action => "add", :card_id => mtgcard.multiverse_id do %>
            <%= image_tag(mtgcard.image_url, :class => "card") %>
            <% end %>
          </tr>
          <% end %>
          <% else %>
          <tr>
            <%= image_tag "/assets/NoResults.png", class: "card" %>
          </tr>
          <% end %>
        </tbody>

        <form action="/drafts/<%= @draft.id %>" method="get">
          <input type="text" name="q">
          <input type="submit" value="Search">
        </form>
      </div>
      <div class="row">
        <!-- Graphs -->
        <%= column_chart [{name: "Power Curve", data: @chart_power_seriesdata}] %>
        <%= column_chart [{name: "Card Types", data: @chart_type_seriesdata}] %>
        <%= pie_chart @chart_color_data, colors: @chart_color_colors %>
      </div>
    </div>
    <div class="col-md-4">
      <!-- Card List -->
      <tbody>
        <% @fullcardlist.each do |card| %>
        <tr>
          <div class="parent">
            <%= image_tag(card["image"], :class => "card") %>
            <div class="inner">
              <%= link_to :controller => "selections", :action => 'delete', :selection_id => card["selection_id"] do %>
              <%= image_tag "/assets/delete.png", class: "innericon" %>
              <% end %>
              <%= link_to :controller => "cards", :action => "sideboard", :selection_id => card["selection_id"] do %>
              <% if card["is_sideboard"] %>
              <%= image_tag "/assets/unsideboard.png", class: "innericon" %>
              <% else %>
              <%= image_tag "/assets/sideboard.png", class: "innericon" %>
              <% end %>
              <% end %>
            </div>
          </div>
        </tr>
        <% end %>
      </tbody>
    </div>
  </div>
</div>
