<h1>Draft #<%= @draft.id %></h1>

<dl>
  <dt>User</dt>
  <dd><%= @draft.user_id %></dd>

  <dt>Set3</dt>
  <dd><%= @draft.set3 %></dd>

  <dt>Set2</dt>
  <dd><%= @draft.set2 %></dd>

  <dt>Set1</dt>
  <dd><%= @draft.set1 %></dd>

  <dt>Color3</dt>
  <dd><%= @draft.color3 %></dd>

  <dt>Color2</dt>
  <dd><%= @draft.color2 %></dd>

  <dt>Color1</dt>
  <dd><%= @draft.color1 %></dd>

</dl>
